/* @tailwind base;   */
/* @tailwind components; */
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap'); */
@import '~antd/dist/antd.dark.css';

/* @import '~antd/dist/antd.compact.css'; */

.background_image {
  background-image: url('./assets/sidejpg.jpg');
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
  font-family: 'Open Sans', Arial, sans-serif !important;
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #1e2b4e, #213466) !important;
  border: 1px solid #404040 !important;
  box-shadow: 0px 0px 5px rgba(226, 225, 225, 0.158) !important;
}

.custom_bg_color {
  background-color: rgb(2 12 36 / 87%);
}

.custom_bg {
  /* background-color: rgb(15 23 42/1); */
  background-image: url('./assets/mainBg.jpg');
  background-size: cover;
}


.css-8krixu-MuiDataGrid-columnHeaders {
  background: linear-gradient(45deg, #121a30, #162244) !important
}

.css-cc8suj-MuiDataGrid-root .MuiDataGrid-row {
  background: linear-gradient(270deg, #121a30c7, #162244d9) !important
}

.css-cc8suj-MuiDataGrid-root .MuiDataGrid-cell--textLeft {
  border-right: 1px solid;
  border-left: none !important;
  border-top: none !important;
  border-bottom: none !important;
  border-image-source: linear-gradient(45deg, #8e8f92, #18264b) !important;
  border-image-slice: 1 !important;

}

.css-cc8suj-MuiDataGrid-root .MuiDataGrid-cellContent {
  border-radius: 10px !important;
  padding: inherit !important;
  border: 1px solid #404040 !important;
  box-shadow: 0px 0px 5px rgba(226, 225, 225, 0.158) !important;
  background: linear-gradient(45deg, #16203a, #18264b) !important;
}

.custom_siderbar {
  background: linear-gradient(270deg, #121a30c7, #162244d9) !important;
  border: 1px solid #404040 !important;
  box-shadow: 0px 0px 5px rgba(226, 225, 225, 0.158) !important;
  transition: all .5s;
}

.custom_siderbar:hover {
  background: linear-gradient(45deg, #121a30, #162244) !important
}

.skeleton-custom {
  background-color: rgba(100, 148, 237, 0) !important;
  width: 100%;
  height: 600px;
}

::selection {
  color: rgb(211, 211, 211);
  background: rgb(73, 3, 165);
}

/* Button Cusomt */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.buttons {
  margin: 10%;
  text-align: center;
}

.btn-hover {
  font-size: 16px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  cursor: pointer;
  margin: 20px;
  text-align: center;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 300% 100%;
  border-radius: 10px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover.color-1 {
  background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

.btn-hover.color-2 {
  background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
  box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}

.btn-hover.color-3 {
  /* background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
  box-shadow: 0 4px 15px 0 rgba(45, 53, 131, 0.75); */
  background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
  box-shadow: 0 4px 15px 0 rgba(19, 31, 49, 0.75);
}

.btn-hover.color-4 {
  background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
  /* box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75); */
}

.btn-hover.color-5 {
  background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
  /* box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75); */
}

.btn-hover.color-6 {
  background-image: linear-gradient(to right, #009245, #FCEE21, #00A8C5, #D9E021);
  box-shadow: 0 4px 15px 0 rgba(83, 176, 57, 0.75);
}

.btn-hover.color-7 {
  background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645);
  box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}

.btn-hover.color-8 {
  background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
  box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}

.btn-hover.color-9 {
  background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

.btn-hover.color-10 {
  background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a, #FBB03B);
  box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}

.btn-hover.color-11 {
  background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);
  box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
}

.MuiDataGrid-root .MuiDataGrid-cell {
  text-overflow: initial !important;
  overflow-x: auto !important;
}

.ant-picker-time-panel-column:nth-of-type(even) {
  background-color: rgba(45, 49, 58, 0.329) !important;
  border: none !important;
}

.ant-picker-time-panel-column:nth-of-type(odd) {
  background-color: rgba(45, 49, 58, 0.629) !important;
  border: none !important;
}

.ant-picker-time-panel-column>li:nth-of-type(even) {
  background-color: rgba(45, 49, 58, 0.629) !important;
  border: none !important;
}

.ant-picker-time-panel-column>li:nth-of-type(odd) {
  background-color: rgba(45, 49, 58, 0.329) !important;

  border: none !important;
}

.btn {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  /* line-height: 1; */
  margin: 20px;
  padding: 0.6em 1.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.btn:hover,
.btn:focus {
  color: #fff;
  outline: 0;
}


.fifth {
  border-color: #8e44ad;
  border-radius: 0;
  color: #8e44ad;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 150ms ease-in-out;
}

.fifth:after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 100%;
  background: #8e44ad;
  z-index: -1;
  transition: width 150ms ease-in-out;
}

.fifth:hover {
  color: #fff;
}

.fifth:hover:after {
  width: 110%;
}

.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

/* .css-cc8suj-MuiDataGrid-root .MuiDataGrid-cellContent {
    overflow: visible!important;
    text-overflow:initial!important;
} */
.map-drawer-bg {
  /* background: linear-gradient(270deg, #121a30, #162244) !important; */
  background-image: url('./assets/sidejpg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  z-index: 2;
  width: 400px;
  position: relative;
}

.map-drawer-bg::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 2;
  left: 0;
  background: linear-gradient(270deg, #123021b6, #16442f98) !important;

}

.map-drawer {
  position: absolute;
  top: 0;
  height: 100%;
  left: 0;
  width: 100%;
  z-index: 3;
}

.map-drawer-content-data {
  display: flex;
  width: 100%;
  padding: 5px;
  color: white;
  flex-direction: column;
  justify-content: space-between;
  background: #16442fa8 !important;
}

/* .map-drawer-content-data:nth-of-type(odd) {
  display: flex;
  width: 100%;
  padding: 5px;
  color: white;
  flex-direction: column;
  justify-content: space-between;
  background: #16442fcc !important;
}

.map-drawer-content-data:nth-of-type(even) {
  display: flex;
  width: 100%;
  padding: 5px;
  color: white;
  flex-direction: column;
  justify-content: space-between;
  background: #0d3b27cc !important;
} */


.map-drawer-content-data-heading-sub {
  color: white;
  /* margin: 20px; */
  margin-top: 5px;

  border-radius: 10px !important;
  padding: 10px !important;
  border: 1px solid #404040 !important;
  box-shadow: 0px 0px 5px rgba(226, 225, 225, 0.158) !important;
  background: linear-gradient(270deg, #16442fcc, #123021c5) !important;

}

.map-drawer-content-data-heading-main {
  color: white;
  /* margin: 20px; */
  margin-bottom: 0px;
  padding: 10px !important;
}

.map-right-side {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  justify-content: flex-start;
  /* background: linear-gradient(270deg, #16442fcc, #123021c5) !important; */
  flex-direction: column;
  align-items: center;
  z-index: 6 !important;
}

.layers-h1 {
  font-size: 10px;
  color: rgb(238, 238, 238);
  font-weight: bold;
}

.layers {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  /* border-radius: 70px; */
  transition: all .4s;
  width: 100%;
  min-width: 70px;
  margin-top: 5px;
  min-height: 70px;
  border: none;
  position: relative;
  outline: none;
  background-color: transparent;
}


.layers:focus>.layers-h1 {
  color: rgb(75, 102, 255) !important;
}

.layers:nth-child(first-child) {
  border-top-left-radius: 10px;
}

.layers:hover>.layers-h1 {
  color: rgb(75, 75, 255) !important;
}

.mx-4 {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.ant-picker-dropdown {
  z-index: 1500 !important;
  background: #2b2a2a !important;
}

.ant-picker-panel-container {
  background: linear-gradient(151deg, #000a2cf7, #030437) !important;
}

.ant-picker-date-panel .ant-picker-content th,
.ant-picker-cell .ant-picker-cell-inner,
.ant-picker-header-view button,
.ant-picker-header-view button:not(:first-child),
.ant-picker-time-panel-column>li.ant-picker-time-panel-cell .ant-picker-time-panel-cell-inner {
  color: azure !important;
}

.ant-picker-cell-inner:hover, .ant-picker-time-panel-cell-inner:hover {
  background: black !important;
}

.ant-picker-time-panel-column>li.ant-picker-time-panel-cell-selected .ant-picker-time-panel-cell-inner {
  background: #0249c8 !important;
}

.ant-picker-header>button {
  color: white !important
}

.ant-picker-header-view {
  color: white !important
}

.ant-custom {
  border: 1px solid rgb(66, 66, 66) !important;
  border-radius: 5 !important;
  height: 55 !important;
  margin-top: 10 !important;
  font-weight: lighter !important;
  width: 300 !important;
  background: transparent !important;
  color: white !important;
}

.ant-picker-large .ant-picker-input>input {
  color: white !important;
}

.ant-btn-primary[disabled], .ant-btn-primary[disabled]:hover, .ant-btn-primary[disabled]:focus, .ant-btn-primary[disabled]:active {
  color: rgb(255 255 255) !important;
  background: #2c2c2c !important;
}

.mapboxgl-ctrl-bottom-left {
  display: none !important;
}

.mapboxgl-ctrl-bottom-right {
  display: none !important;
}

body>div.MuiModal-root.MuiDialog-root.css-153eyq5-MuiModal-root-MuiDialog-root>div.MuiDialog-container.MuiDialog-scrollPaper.css-hz1bth-MuiDialog-container>div>div.MuiDialogContent-root.MuiDialogContent-dividers.css-1b8212j-MuiDialogContent-root>article>div {
  background: rgb(86 86 86) !important;
}

body>div.MuiModal-root.MuiDialog-root.css-153eyq5-MuiModal-root-MuiDialog-root>div.MuiDialog-container.MuiDialog-scrollPaper.css-hz1bth-MuiDialog-container>div>div.MuiDialogContent-root.MuiDialogContent-dividers.css-1b8212j-MuiDialogContent-root>article>div>div:nth-child(3)>div>div>label {
  color: white !important;
}

#rc-editable-input-1 {
  background: black;
}

#rc-editable-input-2 {
  background: black;
}

#rc-editable-input-3 {
  background: black;
}

#rc-editable-input-4 {
  background: black;
}

.css-153eyq5-MuiModal-root-MuiDialog-root .MuiDialogContent-root {
  padding: 16px;
  display: flex !important;
  justify-content: space-between !important;
  align-items: flex-start !important;
}

i:before {
  color: var(--color);
}

.css-bdhsul-MuiTypography-root-MuiDialogTitle-root {
  color: white !important;
}

/* ///// */






#open-report-dialog {
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0
}

.arjs-export-panel .gc-property-category {
  display: flex;
  flex-direction: column
}

.gc-viewer {
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #e6e6e6;
  font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif
}

.gc-viewer--medium-ui-size .gcv-header-container {
  height: 41px
}

.gc-viewer--medium-ui-size .gc-sidebar__container {
  padding-top: 40px
}

.gc-viewer--small-ui-size .gcv-header-container {
  height: 31px;
  padding: 0 5px
}

.gc-viewer--without-background {
  background-color: transparent
}

.gc-viewer--without-background .gcv-page {
  box-shadow: none
}

.gc-viewer--horizontal-alignment-left .gcv-pageview>* {
  margin-left: 0
}

.gc-viewer--horizontal-alignment-right .gcv-pageview>* {
  margin-right: 0
}

.gcv-menu {
  flex: 0 0 auto;
  height: 100%
}

.gcv-menu--hidden {
  display: none
}

@media(max-width: 768px) {
  .gcv-menu .gc-menu__panel-container--visible {
    width: calc(100vw - 50px)
  }

  .gcv-menu .gc-menu__panel-container--visible .gc-menu__panel-container__content {
    width: calc(100vw - 50px)
  }
}

.gcv-main-view {
  position: relative;
  display: grid;
  display: -ms-grid;
  flex: 1 1 auto;
  width: 0;
  height: 100%;
  transition: all .2s ease-in-out;
  grid-template-columns: minmax(0, 1fr) auto;
  grid-template-rows: auto auto minmax(0, 1fr);
  grid-template-areas: "header header""toppanel sidebar""view sidebar""bottompanel sidebar";
  -ms-grid-columns: minmax(0, 1fr) auto;
  -ms-grid-rows: auto auto minmax(0, 1fr);
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch
}

.gcv-main-view--fullscreen {
  height: 100%
}

.gcv-main-view--fullscreen>.gcv-top-panel, .gcv-main-view--fullscreen .gcv-bottom-panel, .gcv-main-view--fullscreen .gcv-special-location-panel-controls {
  display: none
}

@media(max-width: 768px) {
  .gcv-main-view {
    width: calc(100vw - 50px)
  }
}

.gcv-header-container {
  display: flex;
  width: 100%;
  height: 51px;
  border-bottom: 1px solid #dbdbdb;
  background-color: #f1f1f1;
  align-items: center;
  grid-area: header;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2
}

.gcv-header-container--hidden {
  display: none
}

.gcv-header-container--sidebar-hidden .gc-sidebar__menu {
  display: none
}

.gcv-header-container--fullscreen {
  position: fixed;
  z-index: 1009;
  bottom: 40px;
  left: 50%;
  width: 324px;
  height: 40px;
  transform: translateX(-50%);
  opacity: 1;
  border-bottom: 0 solid transparent;
  border-radius: 25px;
  background-color: #f1f1f1;
  grid-area: unset;
  -ms-grid-row: unset;
  -ms-grid-column: unset
}

.gcv-header-container--fullscreen>.gc-rv-inline-block:last-child {
  margin-right: 0
}

.gcv-header-container>.gcv-toolbar {
  flex: 1 1 auto;
  width: 0
}

.gcv-header-container>.gcv-toolbar>.gcv-toolbar-wrapper {
  padding: 5px
}

.gcv-sidebar {
  grid-area: sidebar;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1
}

.gcv-sidebar--hidden {
  display: none
}

.gcv-sidebar--headless .gc-sidebar--collapsed .gc-sidebar__menu {
  visibility: hidden
}

.gcv-sidebar .gc-sidebar {
  z-index: 1
}

.gcv-top-panel {
  border-bottom: 1px solid #dbdbdb;
  background-color: #f1f1f1;
  grid-area: toppanel;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1
}

.gcv-bottom-panel {
  border-top: 1px solid #dbdbdb;
  background-color: #f1f1f1;
  grid-area: bottompanel;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1
}

.gcv-special-location-panel-controls {
  display: inline-flex;
  height: inherit;
  padding: 5px;
  align-items: center
}

.gcv-special-location-panel-controls--small-ui-size {
  padding: 0 5px
}

.gcv-special-location-panel-controls--with-separator .gcv-special-location-panel-controls__separator {
  width: 1px;
  height: 50%;
  margin-left: 5px;
  background-color: #dbdbdb
}

.gcv-document-view {
  position: relative;
  z-index: 1;
  overflow: hidden;
  width: 100%;
  height: 100%;
  grid-area: view;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1
}

.gcv-document-view .gcv-progress {
  position: absolute;
  z-index: 100;
  width: 100%
}

.gcv-pageview {
  overflow: auto;
  width: 100%;
  height: 100%
}

.gcv-pageview>* {
  margin: 0 auto 0 auto
}

.gcv-pageview--margin>* {
  margin: 40px auto 40px auto
}

@media(max-width: 768px) {
  .gcv-pageview--margin>* {
    margin: 0 auto 0 auto
  }
}

.gcv-page {
  position: relative;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .05)
}

.highlight {
  background-color: #ff8
}

.gcv-page-input {
  position: relative;
  width: 100px;
  margin: 0
}

.gcv-page-input>input[type=text].gc-input {
  vertical-align: top;
  background-color: transparent
}

.gcv-page-input>input[type=text].gc-input:not([disabled]):focus+.gcv-page-input__text {
  display: none
}

.gcv-page-input>input[type=text].gc-input[disabled]+.gcv-page-input__text {
  opacity: .38
}

.gcv-page-input__text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  text-align: center;
  pointer-events: none;
  color: #205f78;
  font-size: 12px;
  line-height: 40px
}

.gcv-header-container--fullscreen {
  position: absolute
}

.gcv-header-container--fullscreen .gcv-page-input {
  width: 80px
}

.gcv-header-container--fullscreen .gcv-page-input__text {
  height: 30px;
  font-size: 10px;
  line-height: 30px
}

.gc-viewer--small-ui-size .gcv-header-container .gcv-page-input__text, .gc-viewer--medium-ui-size .gcv-header-container .gcv-page-input__text {
  font-size: 12px;
  line-height: 30px
}

.gcv-zoom {
  position: relative;
  width: auto;
  margin: 0;
  border-radius: 20px
}

.gcv-zoom>.gc-btn {
  position: absolute;
  top: 0;
  left: 0
}

.gcv-zoom>.gc-btn:last-of-type {
  right: 0;
  left: auto
}

.gcv-zoom>.gc-dd>.gc-btn {
  padding-right: 30px;
  padding-left: 30px
}

.gcv-zoom__toggle {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 40px;
  padding-top: 20px;
  text-align: center;
  pointer-events: none;
  color: #333;
  font-size: 12px;
  line-height: 13.3333333333px
}

.gcv-header-container--fullscreen .gcv-zoom {
  border-radius: 15px
}

.gcv-header-container--fullscreen .gcv-zoom>.gc-dd>.gc-btn {
  padding-right: 25px;
  padding-left: 25px
}

.gcv-header-container--fullscreen .gcv-zoom__toggle {
  height: 30px;
  padding-top: 15px;
  font-size: 12px;
  line-height: 10px
}

.gc-viewer--small-ui-size .gcv-zoom__toggle, .gc-viewer--medium-ui-size .gcv-zoom__toggle {
  height: 30px;
  padding-top: 15px;
  font-size: 12px;
  line-height: 10px
}

.gc-viewer--large-ui-size .gcv-header-container:not(.gcv-header-container--fullscreen) .gcv-zoom__toggle {
  padding-top: 25px
}

@keyframes zoom-in {
  0% {
    transform: scale(0);
    opacity: 0
  }

  100% {
    transform: scale(1);
    opacity: 1
  }
}

@keyframes fade-in {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

.gcv-error-panel {
  position: absolute;
  z-index: 10000;
  bottom: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  padding: 0 5px
}

@media(max-width: 768px) {
  .gcv-error-panel {
    position: fixed;
    z-index: 9999;
    padding: 0
  }
}

.gcv-error-list {
  overflow: auto;
  width: 600px;
  max-width: 100%;
  margin: 0 auto;
  padding: 15px;
  animation: fade-in .2s 1 ease-in-out both;
  border-radius: 15px 15px 0 0;
  background-color: #f1f1f1
}

.gcv-error-list__items {
  display: flex;
  overflow: auto;
  flex-direction: column-reverse;
  max-height: calc(100vh - 136px)
}

.gcv-error-list__dismiss-btn {
  margin-top: 15px;
  animation: fade-in .2s 1 ease-in-out both
}

@media(max-width: 768px) {
  .gcv-error-list {
    width: 100%
  }

  .gcv-error-list .gcv-error-list__items {
    max-height: calc(100vh - 325px)
  }
}

.gcv-error {
  position: relative;
  padding: 15px;
  animation: zoom-in .2s 1 ease-in-out both;
  border-radius: 15px;
  background-color: #e6e6e6
}

.gcv-error+.gcv-error {
  margin-bottom: 15px
}

.gcv-error__main {
  display: flex;
  align-items: center
}

.gcv-error__title {
  overflow: hidden;
  flex: 1 0 auto;
  width: 0;
  margin: 0;
  padding: 5px;
  text-overflow: ellipsis;
  font-size: 12px;
  font-weight: bold;
  line-height: 15px
}

.gcv-error__icon {
  width: 15px;
  height: 15px;
  margin-right: 6px;
  font-size: 18px;
  line-height: 15px
}

.gcv-error__controls {
  align-self: flex-start
}

.gcv-error__controls>.gcv-error__button+.gcv-error__button {
  margin-left: 5px
}

.gcv-error__details {
  overflow: auto;
  max-height: 150px;
  margin-top: 15px;
  font-size: 12px;
  line-height: normal
}

.gcv-error--error {
  background-color: rgba(190, 31, 31, .1);
  min-height: 1px
}

.gcv-error--error .gcv-error__title, .gcv-error--error .gcv-error__icon {
  color: #be1f1f;
  fill: #be1f1f
}

.gcv-error--warn {
  background-color: rgba(229, 149, 0, .1);
  min-height: 1px
}

.gcv-error--warn .gcv-error__title, .gcv-error--warn .gcv-error__icon {
  color: #e59500;
  fill: #e59500
}

.gcv-error--info {
  background-color: rgba(32, 95, 120, .1);
  min-height: 1px
}

.gcv-error--info .gcv-error__title, .gcv-error--info .gcv-error__icon {
  color: #205f78;
  fill: #205f78
}

.gcv-error--debug {
  background-color: rgba(32, 95, 120, .1);
  min-height: 1px
}

.gcv-error--debug .gcv-error__title, .gcv-error--debug .gcv-error__icon {
  color: #205f78;
  fill: #205f78
}

.viewer-thumbnails {
  overflow: auto;
  width: 100%;
  height: 100%
}

.viewer-thumbnail {
  position: relative;
  z-index: 1;
  width: 214px;
  height: 301px;
  margin: 0 auto 45px auto;
  border: 2px solid transparent
}

.viewer-thumbnail:hover {
  color: #1b5166;
  border: 2px solid #1b5166
}

.viewer-thumbnail--selected {
  color: #205f78;
  border: 2px solid #205f78
}

.viewer-thumbnail>div, .viewer-thumbnail>p {
  position: relative;
  z-index: 0;
  overflow: hidden;
  width: 210px;
  height: 297px;
  pointer-events: none;
  background-color: #fff
}

.viewer-thumbnail>p {
  text-align: center;
  color: rgba(51, 51, 51, .38);
  font-size: 80px;
  font-weight: bold;
  line-height: 297px
}

.viewer-thumbnail>span {
  position: absolute;
  bottom: -30px;
  left: 0;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 12px;
  line-height: 30px
}

.search {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 15px
}

.search>*:not(.search__results) {
  flex: 0 0 auto
}

.search .gc-input {
  width: 100%;
  margin-bottom: 5px
}

.search__query-params {
  display: flex;
  flex-wrap: wrap
}

.search__query-params>.gc-check {
  flex: 1 1 auto;
  box-sizing: border-box;
  min-width: 50%
}

.search__query-params>.gc-check .gc-check__label {
  white-space: nowrap
}

.search__results {
  overflow: auto;
  flex: 1 1 auto;
  width: 100%;
  margin: 0;
  padding: 0
}

.search__results>.gc-btn {
  width: 100%;
  margin-top: 10px
}

.search__results-header {
  display: block;
  width: 100%;
  height: 40px;
  margin: 0;
  text-transform: uppercase;
  color: #333;
  font-size: 12px;
  font-weight: bold;
  line-height: 40px
}

.search-result {
  position: relative;
  display: block;
  max-height: 60px;
  padding: 0 10px;
  border-radius: 2px;
  font-size: 12px;
  line-height: 30px
}

.search-result:hover {
  cursor: pointer;
  user-select: none;
  background-color: rgba(0, 0, 0, .1)
}

.search-result__text {
  display: block;
  overflow: hidden;
  overflow: hidden;
  max-height: 60px;
  padding-right: 15px;
  text-overflow: ellipsis
}

.search-result__text>i {
  color: #205f78;
  font-weight: bold
}

.search-result__page {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 30px;
  height: 30px;
  text-align: center;
  color: rgba(51, 51, 51, .62)
}

.search__progress {
  position: relative;
  width: 100%;
  height: 50px;
  padding-top: 10px
}

.search__progress>p {
  position: absolute;
  top: 10px;
  left: 0;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 2px;
  margin: 0;
  padding: 0
}

.search__progress>p>span {
  display: block;
  height: 100%;
  border-radius: 2px;
  background-color: #fff
}

.gc-btn-group--align-justify .gc-btn.search__btn-search {
  flex: 1 1 auto
}

.gc-btn-group--align-justify .gc-btn.search__btn-clear {
  flex: 0 0 auto
}

.search__infomessage {
  text-align: center;
  color: rgba(51, 51, 51, .62);
  font-size: 12px;
  line-height: 30px
}

@keyframes gcv_btn_icon_animation {
  0% {
    transform: rotate(0)
  }

  50% {
    transform: rotate(180deg)
  }

  100% {
    transform: rotate(360deg)
  }
}

.gcv-anim-icon {
  animation: gcv_btn_icon_animation .62s infinite linear
}

.gcv-thumb-vertical {
  width: 2px;
  margin-left: 2px;
  cursor: n-resize;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .1)
}

.gcv-thumb-horizontal {
  height: 2px;
  margin-top: 2px;
  cursor: w-resize;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .1)
}

.arjs-export-panel {
  padding: 0 15px 15px
}

.arjs-export-panel>.gc-btn {
  margin-top: 16pt
}

.progress-modal {
  position: absolute;
  top: 50%;
  left: 25%;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 180px;
  transform: translateY(-50%);
  color: #fff;
  border-radius: 2px;
  outline: none;
  background-color: #205f78;
  justify-content: center;
  align-items: center
}

.progress-modal .h3 {
  display: block
}

.ar-contents {
  padding: 15px
}

.ar-toc-item>.gc-btn-group {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 30px;
  text-align: left;
  white-space: nowrap;
  text-transform: capitalize;
  text-overflow: ellipsis;
  color: #333;
  border: 0;
  border-radius: 2px;
  outline: none;
  background: none;
  font-size: 12px;
  line-height: 30px;
  fill: #333
}

.ar-toc-item>.gc-btn-group>.gc-btn--custom {
  overflow: hidden;
  flex: 1 1 auto;
  height: 30px;
  padding: 0 10px;
  text-overflow: ellipsis
}

.ar-toc-item>.gc-btn-group>.gc-btn--custom:hover {
  cursor: pointer
}

.ar-toc-item>.gc-btn-group>.gc-btn--with-icon path {
  fill: inherit
}

.ar-toc-item>.gc-btn-group>.gc-btn--with-icon:hover {
  cursor: pointer
}

.ar-toc-item>.gc-btn-group:hover {
  color: #fff;
  background-color: #1b5166;
  font-weight: bold;
  fill: #fff
}

.ar-toc-item>.ar-toc-item-children {
  overflow: hidden;
  width: 100%;
  padding-left: 15px
}

.ar-toc-item--level-2 button {
  font-size: 10px
}

.ar-toc-item--level-3 button {
  font-size: 10px;
  font-style: italic
}

.gcv-parameters__control {
  position: relative
}

.gcv-parameters__control:before {
  position: absolute;
  width: 5px;
  height: 5px;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: #be1f1f
}

.gcv-parameters__control--required-top-left:before {
  top: 15px;
  left: -10px;
  content: ""
}

.gcv-parameters__control--required-top-right:before {
  top: 15px;
  right: -10px;
  content: ""
}

.gcv-parameters__control--required-bottom-left:before {
  bottom: 15px;
  left: -10px;
  content: "";
  transform: translateY(50%)
}

.gcv-parameters--layout-vertical {
  padding: 0 15px
}

.gcv-parameters--layout-vertical .gcv-parameters__control {
  margin-bottom: 15px
}

.gcv-parameters--layout-horizontal {
  position: relative;
  display: flex;
  padding: 0 115px 0 15px;
  flex-wrap: wrap
}

.gcv-parameters--layout-horizontal .gcv-parameters__control {
  width: 330px;
  margin: 0 15px 15px 0
}

.gcv-parameters--layout-horizontal .gcv-parameters__control--preview {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 100px;
  margin: 0
}

.gcv-parameters--free-form {
  position: relative
}

.gcv-parameters--free-form .gcv-parameters__control {
  position: absolute
}

.gcv-parameters__control>.gcv-label {
  display: -ms-grid;
  display: grid;
  height: 100%;
  -ms-grid-columns: minmax(0, 1fr);
  -ms-grid-rows: 30px minmax(0, 1fr);
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: 30px minmax(0, 1fr);
  grid-template-areas: "label""content"
}

.gcv-parameters__control>.gcv-label>.gc-label__label {
  width: 100%;
  grid-area: label;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1
}

.gcv-parameters__control>.gcv-label>.gc-label__content {
  width: 100%;
  height: 100%;
  grid-area: content;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1
}

.gcv-parameters__control>.gcv-label.gc-label--position-left {
  -ms-grid-columns: 1fr minmax(0, 2fr);
  -ms-grid-rows: 100%;
  grid-template-columns: 1fr minmax(0, 2fr);
  grid-template-rows: 100%;
  grid-template-areas: "label content"
}

.gcv-parameters__control>.gcv-label.gc-label--position-right {
  -ms-grid-columns: minmax(0, 2fr) 1fr;
  -ms-grid-rows: 100%;
  grid-template-columns: minmax(0, 2fr) 1fr;
  grid-template-rows: 100%;
  grid-template-areas: "content label"
}

.gcv-parameters__control>.gcv-label.gc-label--position-bottom {
  -ms-grid-columns: 1fr;
  -ms-grid-rows: minmax(0, 1fr) 30px;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(0, 1fr) 30px;
  grid-template-areas: "content""label"
}

.gcv-nullable {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: flex-start
}

.gcv-nullable>.gc-check {
  display: flex;
  flex: 0 0 auto;
  width: 60px
}

.gcv-nullable__content {
  flex: 1 1 auto;
  height: 100%;
  margin-right: 15px
}

.gcv-multivalue-textarea {
  width: 100%;
  height: 120px !important;
  white-space: nowrap
}

.gcv-textarea {
  width: 100%;
  height: 100%
}

.gcv-slider-container {
  display: flex;
  height: 30px;
  align-items: center;
  justify-content: center
}

.gcv-slider-container--mode-X>.gcv-slider {
  width: 100%
}

.gcv-number-editor {
  display: flex
}

.gcv-number-editor__button {
  flex: 0 0 auto
}

.gcv-number-editor__button:first-of-type {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0
}

.gcv-number-editor__button:last-of-type {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0
}

.gcv-number-editor__input.gc-input {
  flex: 1 1 auto;
  width: 100%;
  text-align: center;
  border-radius: 0
}

.gc-btn.disabled {
  opacity: .38
}

.gc-btn.disabled:focus {
  box-shadow: none
}

.gc-btn.disabled.gc-btn--level-warning:focus {
  box-shadow: none
}

.gc-btn.disabled.gc-btn--level-error:focus {
  box-shadow: none
}

.gcv-plain-text {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 12px;
  line-height: 20px
}

.gcv-plain-text--info {
  color: #205f78
}

.gcv-plain-text--warning {
  color: #e59500
}

.gcv-plain-text--error {
  color: #be1f1f
}

.gcv-tree {
  width: 100%;
  height: 100%
}

.gcv-tree-node {
  display: flex;
  width: 100%;
  height: 30px;
  align-items: stretch;
  align-content: stretch
}

.gcv-tree-node__toggle {
  overflow: hidden;
  width: 30px;
  flex-grow: 0;
  flex-shrink: 0
}

.gcv-tree-node__control {
  overflow: hidden;
  flex-grow: 1;
  flex-shrink: 1
}

.gcv-tree-node-text {
  width: 100%;
  height: 30px;
  font-size: 12px;
  line-height: 30px
}

.gcv-date-range--limited .gc-date-range-aside__body {
  pointer-events: none;
  opacity: .32
}

.gcv-custom-content {
  display: block;
  flex: 0 0 auto;
  height: 40px;
  padding: 0 10px;
  text-align: center;
  color: rgba(51, 51, 51, .62);
  font-size: 12px;
  font-style: italic;
  line-height: 38px
}

.viewer-reports-list {
  overflow: auto;
  width: 100%;
  height: 100%;
  padding: 10px
}

.viewer-reports-list-item>button {
  display: block;
  overflow: hidden;
  width: calc(100% - 10px);
  height: 30px;
  margin: 0 5px;
  padding: 0 10px;
  text-align: left;
  white-space: nowrap;
  text-transform: capitalize;
  text-overflow: ellipsis;
  color: #333;
  border: 0;
  border-radius: 15px;
  outline: none;
  background: none;
  font-size: 12px;
  line-height: 30px
}

.viewer-reports-list-item>button:hover {
  cursor: pointer;
  color: #fff;
  background-color: #1b5166;
  font-weight: bold
}